.fmt-0 {
	color: #000000;
}

.fmt-1 {
	color: #0000aa;
}

.fmt-2 {
	color: #00aa00;
}

.fmt-3 {
	color: #00aaaa;
}

.fmt-4 {
	color: #aa0000;
}

.fmt-5 {
	color: #aa00aa;
}

.fmt-6 {
	color: #ffaa00;
}

.fmt-7 {
	color: #aaaaaa;
}

.fmt-8 {
	color: #555555;
}

.fmt-9 {
	color: #5555ff;
}

.fmt-a {
	color: #55ff55;
}

.fmt-b {
	color: #55ffff;
}

.fmt-c {
	color: #ff5555;
}

.fmt-d {
	color: #ff55ff;
}

.fmt-e {
	color: #ffff55;
}

.fmt-f {
	color: #ffffff;
}

.fmt-k {
}

.fmt-l {
	font-weight: bold;
}

.fmt-m {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}

.fmt-n {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.fmt-o {
	font-style: italic;
}
