#main {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 100%;
}

#menu {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-shrink: 0;
    overflow-y: auto;
    background-color: #C6C6C6;
    color: #3F3F3F;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-right: 1px solid #ddd;
    min-width: 250px;
}

.menu-header {
    padding-bottom: 16px;
    border-bottom: 1px solid #ddd;
}

.logo {
    position: relative;
    font-size: 24px;
    font-weight: bold;
    height: 200px;
    background-image: url("https://www.gtnewhorizons.com/images/big_gnd.webp");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: center;
    text-align: center;
}

.menu-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}


.page-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.page-button {
    width: 100%;
    cursor: pointer;
    text-align: left;
    background-color: #A09172;
    border-color: #E0CA9F #544C3B #544C3B #E0CA9F;
    border-width: 2px;
    box-shadow: none;
    padding: 2px;
}

.new-page-widget {
    margin-top: auto;
}

.new-page-form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.new-page-form input {
    width: 70%;
}

.new-page-form button {
    width: 30%;
}

.active-page {
    color: white;
    background-color: #51493A;
    border-color: #211D17 #332E24 #332E24 #211D17;
    border-width: 2px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.active-page input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
}

