#nei-content
{
    width: 100%;
    position: relative;
}

#nei-search
{
    border-style: solid;
    border-width: 6px;
    border-image: url('./../images/InputBox.png') 3 fill;
    height: 16;
    flex:1;
}