.panel-tab-bar
{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    pointer-events: none;
}

.panel-tab-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 54px;
    z-index: 1;
}

.panel-tab-container .panel
{
    position: relative;
    z-index: -1;
}

.panel-tabs {
    display: flex;
    position: relative;
    bottom: -4px;
    gap: 2px;
    height: 54px;
    pointer-events: none;
}

.panel-tab
{
    position: relative;
    margin-top: 6px;
    width: 44px;
    bottom: 0px;
    background-color: #8B8B8B;
    border: 4px solid;
    border-color: #ffffff #555555 #555555 #ffffff;
    border-radius: 4px;
    border-bottom: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
    z-index: -1;
    box-shadow: 0 0 0 2px black;
    transition: margin-top 0.1s ease, background-color 0.1s ease;
}

.panel-tab.active{
    background-color: #C6C6C6;
    margin-top: 0px;
    z-index: auto;
    box-shadow: none;
    transition: margin-top 0.1s ease, background-color 0.1s ease;
}

.panel-tab.active::before{
    content: "";
    position: absolute;
    border-radius: 4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    top: -4px;
    z-index: -15;
    box-shadow: 0 0 0 2px black;
}

.panel-tab .icon {
    width: 32px;
    height: 32px;
    position: relative;
    top: -4px;
    transition: top 0.1s ease;
}

.panel-tab.active .icon {
    top: -6px;
}

.panel-tab:not(.active) .icon {
    top: -2px;
}